* { 
    touch-action: manipulation !important; 
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    color: #222;
}

header {
    background-color: #333;
    color: #fff;
    border-radius: 10px;

    text-align: center;
    padding: 1em 0 .5em 0;
    margin: .5em;
}

h1 {
    margin: 0;
}

#log {
    color: #ccc;
    height: 4em;
    overflow-y: scroll;
}

.container {
    margin: .5em;
    display: flex;
    height: 80%;
}

aside {
    border-radius: 10px;
    background-color: #222;
    color: #ddd;

    width: 200px;
    
    padding: 1em;
    height: 100%
}

h3 {
    margin: 0 5px .5em 0px;
}

main {
    flex: 1;
    padding: 0 1em 1em .5em;
}

#tabs {
    margin: 0;
}

.tab {
    background-color: #444;
    color: #ccc;

    display: inline-block;
    padding: .5em 2em;
    font-weight: bold;
    cursor: pointer;

    border-radius: 10px 10px 0 0;
    border-width: 2px 2px 0 2px;
}
    .tab.active {
        background-color: #808080;
        color: #222;
    }

.tab#beach {
    background-color: darkgoldenrod;
    color: #222
}
    .tab#beach.active {
        background-color: goldenrod;
    }

.pane#beach {
    background-color: goldenrod;
}

.tab#ocean {
    background-color: midnightblue;
    color: #ccc;
}

    .tab#ocean.active {
        background-color: darkblue;
        color: #ccc
    }

.pane#ocean {
    background-color: darkblue;
    color: #ccc;
}

#panes {
    padding: 0;
    margin: 0;
}

.pane {
    display: none;
    background-color: #808080;
    padding: 1.5em 1em 0 1em;
    border-radius: 0 10px 10px 10px;
}
    .pane.active {
        display: block;
    }

.button-list {
    padding: 1em 0;
    display: flex;
    align-items: flex-start;
}

button {
    background-color: #ddd;
    color: #333;

    display: inline-block;
    padding: .5em;
    margin: .1em .5em .1em 0;

    border: 2px solid #222;
    border-radius: 10px;
}
     button.disabled {
        background-color: #bbb;
        color: #222;
    }

.button-price {
    font-size: .9em;
    color: #333;
}

button.disabled .button-price {
    color: #888;
}

.hidden {
    display: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
